<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
	    <script src="https://use.fontawesome.com/8a9909b425.js"></script>
	    <!-- <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" media="screen"> -->
	</head>
	<body>
	<nav class="nav">
		<div class="nav-left">
			<p class="nav-item">Rate My Classroom</p>
			<a class="nav-item" href="/">Home</a>
		</div>
		<div class="nav-right">
			<a class="nav-item" href="/sign_up">Sign Up</a>
			{% if current_user.is_authenticated %}
			<a class="nav-item" href="/logout">Log Out</a>
			{% else %}
			<a class="nav-item" href="/login">Login</a>
			{% endif %}
		</div>
	</nav>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
	<section>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</section>
	</body>
</html>
