{% extends "base-bulma.html" %}
{% block content %}

<section class"hero">
	<div class="hero-body">
		<div class="container"><h1 class="title">{{ title }}</h1></div>
		<div class="container"><h2 class="subtitle">{{ classroom['buildingName'] }}</h1></div>
	</div>
</section>
<section>
	<div class="columns">
	<div class="column">
		<nav class="panel">
			<p class="panel-heading">Classroom Information</p>
			<div class="panel-block">
				<p><b>Building:</b> {{ classroom['buildingName'] }}</p>
			</div>
			<div class="panel-block">
				<p><b>Room:</b> {{ classroom['roomNumber'] }}</p>
			</div>
			<div class="panel-block">
				<p><b>Address:</b> {{ classroom['buildingAddress'] }}</p>
			</div>
			<div class="panel-block">
				<p><b>Average Rating:</b> {{ classroom['averageRating'] }}</p>
			</div>
		</nav>
	</div>
	<div class="column">
		<nav class="panel">
			<p class="panel-heading">Tags</p>
			<div class="panel-block">
				<p>{% if classroom['tags']|length == 0 %} <i>No tags</i> {% endif %}
						{% for tag in classroom['tags'] %}
						<span class="tag is-primary is-medium">{{tag}}</span>
						{% endfor %}</p>
			</div>
		</nav>
	</div>
</section>
<!-- <div class="page-header">
	<h2>{{ title }}</h2>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Overview</div>
		</div>
	    <div class="panel-body">
		    <div class="col-lg-5">
				<ul class="list-group">
				<li class="list-group-item"><b>Building:</b> <span class="pull-right">{{classroom['buildingName']}}</li>
				<li class="list-group-item"><b>Room Number:</b> <span class="pull-right">{{classroom['roomNumber']}}</li>
				<li class="list-group-item"><b>Building Address:</b> <span class="pull-right">{{classroom['buildingAddress']}}</li>
				<li class="list-group-item"><b>Avg. Rating</b> <span class="pull-right">{{classroom['averageRating']}}</li>
			</ul>			    
		    </div>
		    <div class="col-lg-7">
			    <p>{% if classroom['tags']|length == 0 %} <i>No tags</i> {% endif %}
						{% for tag in classroom['tags'] %}
						<span class="label label-primary">{{tag}}</span>
						{% endfor %}</p>
		    </div>
	    </div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Add a Review</div>
		</div>
	    <div class="panel-body">
		    <div class="col-lg-12">
				<form id="addReviewForm" action="{{url_for('add_review')}}", method="post">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Name:</label>
							<input type="text" class="form-control" name="userNameText">
						</div>
						<div class="form-group">
							<label>Rating:</label>
							<select class="form-control" name="ratingSelectInput" id="ratingSelect">
								<option class="selection" value="1">1</option>
								<option class="selection" value="2">2</option>
								<option class="selection" value="3">3</option>
								<option class="selection" value="4">4</option>
								<option class="selection" value="5">5</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="comment">Review:</label>
							<textarea class="form-control" rows="5" name="reviewText"></textarea>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							<input type="hidden" class="form-control" name="buildingNameInput" value="{{classroom['buildingName']}}"></input>
							<input type="hidden" class="form-control" name="roomNumberInput" value="{{classroom['roomNumber']}}"></input>
				    		<button type="input-group-btn submit" class="btn btn-default">Submit</span></button>
				    	</div>
					</div>
				</form>
	    	</div>
    	</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Reviews</div>
		</div>
		<div class="list-group">
			{% if reviews|length == 0 %}  
			<div class="list-group-item">
			<p class="list-group-item-text"><i>No reviews</i></p>
			</div>
			{% endif %}
			{% for review in reviews %}
			<form action="{{url_for('handle_review')}}" method="post">
			<input type="hidden" name="reviewUserName" value="{{review['userName']}}"></input>
			<input type="hidden" name="reviewClassroom" value="{{classroom['roomNumber']}}"></input>
			<input type="hidden" name="reviewBuilding" value="{{classroom['buildingName']}}"></input>
			<div class="list-group-item">
				<div class="container">
					<div class="col-lg-5">
						<h5 class="list-group-item-heading">{{review['userName']}} at {{review['time']}}</h5>
						<p class="list-group-item-text">{{review['text']}}</p>
					</div>
					<div class="col-lg-5">
						<h5 class="list-group-item-heading">{{review['ratingStars']}}</h5>
						<p class="list-group-item-text">{% if review['tags']|length == 0 %} <i>No tags</i> {% endif %}
						{% for tag in review['tags'] %}
						<span class="label label-primary">{{tag}}</span>
						{% endfor %}
						</p>
					</div>
					<div class="col-lg-2">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal{{review['userName']}}"><span class="glyphicon glyphicon-edit"/></button>
							<button name="submit" type="button submit" class="btn btn-danger" value="delete"><span class="glyphicon glyphicon-remove"/></button>
						</div>
					</div>
				</div>
			<div id="modal{{review['userName']}}" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Review</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Name:</label>
								<input type="text" class="form-control" value="{{review['userName']}}" readonly>
							</div>
							<div class="form-group">
								<label>Rating:</label>
								<select class="form-control" name="reviewRating" id="reviewRating">
									{% if review['rating'] == 1 %}
									<option class="selection" value="1" selected>1</option>
									{% else %}
									<option class="selection" value="1">1</option>
									{% endif %}
									{% if review['rating'] == 2 %}
									<option class="selection" value="2" selected>2</option>
									{% else %}
									<option class="selection" value="2">2</option>
									{% endif %}
									{% if review['rating'] == 3 %}
									<option class="selection" value="3" selected>3</option>
									{% else %}
									<option class="selection" value="3">3</option>
									{% endif %}
									{% if review['rating'] == 4 %}
									<option class="selection" value="4" selected>4</option>
									{% else %}
									<option class="selection" value="4">4</option>
									{% endif %}
									{% if review['rating'] == 5 %}
									<option class="selection" value="5" selected>5</option>
									{% else %}
									<option class="selection" value="5">5</option>
									{% endif %}
								</select>
							</div>
							<div class="form-group">
								<label for="comment">Review:</label>
								<textarea class="form-control" rows="5" name="reviewText">{{review['text']}}</textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button submit" class="btn btn-default" name="submit" value="edit">Edit Review</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			</form>
			{% endfor %}
		</div>
	</div>
</div> -->
{% endblock %}
