{% extends "base-bulma.html" %}
{% block content %}

<section class"hero">
	<div class="hero-body">
		<div class="container"><h1 class="title">{{ title }}</h1></div>
		<div class="container"><h2 class="subtitle">{{ classroom['buildingName'] }}</h1></div>
	</div>
</section>
<section>
	<h3 class="title">Overview</h3>
	<div class="columns">
		<div class="column">
			<nav class="panel">
				<p class="panel-heading">Classroom Information</p>
				<div class="panel-block">
					<p><b>Building:</b> {{ classroom['buildingName'] }}</p>
				</div>
				<div class="panel-block">
					<p><b>Room:</b> {{ classroom['roomNumber'] }}</p>
				</div>
				<div class="panel-block">
					<p><b>Address:</b> {{ classroom['buildingAddress'] }}</p>
				</div>
				<div class="panel-block">
					<p><b>Average Rating:</b> {{ classroom['averageRating'] }}</p>
				</div>
			</nav>
		</div>
		<div class="column">
			<nav class="panel">
				<p class="panel-heading">Tags</p>
				<div class="panel-block">
					{% if classroom['tags']|length == 0 %} <p><i>No tags</i></p> {% endif %}
						{% for tag in classroom['tags'] %}
						<span class="tag is-primary is-small">{{tag}}</span>&nbsp;
						{% endfor %}
				</div>
			</nav>
		</div>
	</div>
</section>
<br/>

<section>
	<div class="container">
	<h3 class="title">What Are People Saying?</h3>
	<canvas id="word_cloud" class="word_cloud" width="400px" height="400"></canvas>
	</div>
</section>

<br/>
{% if current_user.is_authenticated %}
<section>
	<h3 class="title">Add a Review</h3>
		<form id="addReviewForm" action="{{url_for('add_review')}}", method="post">
	   		<input class="input" type="hidden" name="userNameText" value="{{current_user.name}}">
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Rating</label>
						<p class="control">
							<span class="select">
								<select name="ratingSelectInput" id="ratingSelect">
									<option class="selection" value="1">1</option>
									<option class="selection" value="2">2</option>
									<option class="selection" value="3">3</option>
									<option class="selection" value="4">4</option>
									<option class="selection" value="5">5</option>
								</select>
							</span>
						</p>
					</div>	
				</div>
				<div class="column">
					<div class="field">
						<label class="label">Review</label>
						<p class="control">
	    					<textarea class="textarea" rows="5" name="reviewText"></textarea>
	  					</p>
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Tags</label>
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Air Conditioned" type="checkbox">
  							Air Conditioned
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Cold in the Winter" type="checkbox">
  							Cold in the Winter
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Left-Handed Desks" type="checkbox">
  							Left-Handed Desks
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Good Legroom" type="checkbox">
  							Good Legroom
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="No Legroom" type="checkbox">
  							No Legroom
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Comfy Seating" type="checkbox">
  							Comfy Seating
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Hard to Find" type="checkbox">
  							Hard to Find
      						</label>
						</p>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<label class="label">&nbsp;</label>
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Small Desk Space" type="checkbox">
  							Small Desk Space
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Large Desk Space" type="checkbox">
  							Large Desk Space
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Steep Seating" type="checkbox">
  							Steep Seating
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Run Down" type="checkbox">
  							Run Down
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Whiteboards" type="checkbox">
  							Whiteboards
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Chalkboards" type="checkbox">
  							Chalkboards
      						</label>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
  							<input name="tags" value="Lecturer Computer" type="checkbox">
  							Lecturer Computer
      						</label>
						</p>
					</div>
				</div>
			</div>
			<div class="field">
				<input type="hidden" name="buildingNameInput" value="{{classroom['buildingName']}}"></input>
				<input type="hidden" name="roomNumberInput" value="{{classroom['roomNumber']}}"></input>
				<p class="control"><button class="button">Submit</button></p>
			</div>
		</form>
</section>
{% endif %}
<br/>
<section>
	<h3 class="title">Reviews</h3>
	{% if reviews|length == 0 %}  
	<p><i>No reviews</i></p>
	{% endif %}
	{% for review in reviews %}
	<article class="media">
		<div class="media-content">
			<div class="content">
			<p>
				<strong>{{ review['userName'] }}</strong> <small>at {{ review['time'] }}</small>
				<br/>
				{{ review['ratingStars'] }}
				<br/>
				{{ review['text'] }}
				{% if review['tags']|length != 0 %}
				<br/>
				{% for tag in review['tags'] %}
				<span class="tag is-primary is-small">{{tag}}</span>&nbsp;
				{% endfor %}
				{% endif %}
			</p>
			</div>
		</div>
		{% if current_user.name == review['userName'] %}
		<div class="media-right">
			<form action="{{url_for('handle_review')}}" method="post">
				<input type="hidden" name="reviewUserName" value="{{review['userName']}}"></input>
				<input type="hidden" name="reviewClassroom" value="{{classroom['roomNumber']}}"></input>
				<input type="hidden" name="reviewBuilding" value="{{classroom['buildingName']}}"></input>
				<div class="field has-addons">
					<p class="control">
						<button type="button" class="button is-small" 
						onclick="$('#modal{{review['userName']}}').addClass('is-active');">
							<span class="icon is-small">
							<i class="fa fa-edit"></i>
							</span>
						</button>
					</p>
					<p class="control">
						<button name="submit" class="button is-small" value="delete">
							<span class="icon is-small">
							<i class="fa fa-remove"></i>
							</span>
						</button>
					</p>
				</div>
				<div class="modal" id="modal{{review['userName']}}">
					<div class="modal-background"></div>
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title">Edit Review</p>
							<button type="button" class="delete" onclick="$('#modal{{review['userName']}}').removeClass('is-active');"></button>
						</header>
						<section class="modal-card-body">
						


						<div class="field">
							<label class="label">Name</label>
							<p class="control">
						   		<input class="input" type="text" name="userNameText" value="{{review['userName']}}" readonly></p>
							</p>
						</div>	
						<div class="field">
							<label class="label">Rating</label>
							<p class="control">
							<span class="select">
							<select name="reviewRating" id="reviewRating">
								{% if review['rating'] == 1 %}
								<option class="selection" value="1" selected>1</option>
								{% else %}
								<option class="selection" value="1">1</option>
								{% endif %}
								{% if review['rating'] == 2 %}
								<option class="selection" value="2" selected>2</option>
								{% else %}
								<option class="selection" value="2">2</option>
								{% endif %}
								{% if review['rating'] == 3 %}
								<option class="selection" value="3" selected>3</option>
								{% else %}
								<option class="selection" value="3">3</option>
								{% endif %}
								{% if review['rating'] == 4 %}
								<option class="selection" value="4" selected>4</option>
								{% else %}
								<option class="selection" value="4">4</option>
								{% endif %}
								{% if review['rating'] == 5 %}
								<option class="selection" value="5" selected>5</option>
								{% else %}
								<option class="selection" value="5">5</option>
								{% endif %}
							</select>
							</span>
							</p>
						</div>	
						<div class="field">
							<label class="label">Review</label>
							<p class="control">
								<textarea class="textarea" rows="5" name="reviewText">{{review['text']}}</textarea>
							</p>
						</div>
						</section>
						<footer class="modal-card-foot">
							<button class="button" name="submit" value="edit">Save</a>
						</footer>
					</div>
				</div>
			</form>
		</div>
		{% endif %}
	</article>
	{% endfor %}
</section>
<br/>
<script>
$(document).ready(function() {
	sentiments = {{sentiments|tojson}};
	color = "{{color}}";
	WordCloud(document.getElementById('word_cloud'), { fontFamily: "Helvetica Neue", list: sentiments, color: color, size: 12});
});
</script>
{% endblock %}
