{% extends "base-bulma.html" %}
{% block content %}
<section>
<div class="columns">
	<div class="column">
		<h1 class="title">Search Classrooms</h1>
		<form id="topSearchForm" action="{{url_for('search')}}", method="post">
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Building Name</label>
						<p class="control">
							<span class="select">
								<select name="buildingNameInput" id="buildingName">
									<option class="selection" value="">Select Building</option>
									{% for building in buildings %}
									<option class="{{building['className']}}" value="{{building['name']}}">{{building['name']}}</option>
									{% endfor %}
								</select>
							</span>
						</p>
					</div>				
				</div>
				<div class="column">
					<div class="field">
						<label class="label">Classroom</label>
						<p class="control">
							<span class="select">
								<select name="classroomNameInput" id="classroomName">
									<option class="selection" value="">Select Classroom</option>
									{% for classroom in classrooms %}
									<option class="{{classroom['buildingClassName']}}" value="{{classroom['roomNumber']}}">{{classroom['roomNumber']}} – {{classroom['buildingName']}}</option>
									{% endfor %}
								</select>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="field">
				<p class="control">
					<button class="button">Search</button>
				</p>
			</div>
		</form>
	</div>
</div>
</section>
<script type="text/javascript">
$(document).ready(function() {
	var allOptions = $('#classroomName option')
	$('#buildingName').change(function() {
		$('#classroomName option').remove()
		var classN = $('#buildingName option:selected').prop('class');
		var opts = allOptions.filter('.' + classN);
		$.each(opts, function(i, j) {
			$(j).appendTo('#classroomName');
		});
	});
});

$(function() {
   $('button.btn-default').click(function() {
       $(this).toggleClass('btn-primary');
   });
});
</script>
{% endblock %}
