{% extends "base.html" %}
{% block content %}
<!-- <div class="page-header">
	<h2>{{ title }}</h2>
</div>
 -->
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Search Classrooms</div>
		</div>
	    <div class="panel-body">
			<div class="col-lg-12 center-block">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Building Name</button>
					<button type="button" class="btn btn-default disabled">Clasroom Number</button>
					<button type="button" class="btn btn-default disabled">Search</button>
				</div>
	    	</div>
    	</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Find Classrooms By Tags</div>
		</div>
	    <div class="panel-body">
		    <div class="col-lg-6">
			    <p>Search Form</p>
		    </div>
		    <div class="col-lg-6">
			    <p>Table/Grid of Tags</p>
		    </div>
	    </div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Map It Out</div>
		</div>
	    <div class="panel-body">
		    <div class="col-lg-6">
			    <p>Building Travel Time Form</p>
		    </div>
		    <div class="col-lg-6">
			    <ul class="list-group">
    				<li class="list-group-item">Walking <span class="label label-danger pull-right">Hard: 11 minutes</span></li>
    				<li class="list-group-item">Biking <span class="label label-success pull-right">Easy: 4 minutes</span></li>
  				</ul>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}
